name: Pull request

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    yarn_script_validation:
        name: yarn script validation
        runs-on: [self-hosted, linux]
        strategy:
            matrix:
                VALIDATION: ['TypeScript verification', ESLint, Test]
                include:
                    - VALIDATION: 'TypeScript verification'
                      COMMAND: 'ts:verify'
                    - VALIDATION: ESLint
                      COMMAND: lint
                    - VALIDATION: Test
                      COMMAND: test
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 16
            - run: yarn install --frozen-lockfile
            - run: yarn run ${{ matrix.COMMAND }}
